<h3>Other meetups that Appsterdamers are enrolled in:</h3>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="members" width="100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Groups</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
    <% @members.each do |i| %>
    <tr>
      <td><%= i.name %></td>
      <td>
        <% i.groupsas.each do |k|%>
        <%= k.name %> |
            <% end %>
      </td>
      <td><%= i.groupsas.count %></td>
    </tr>
      <%end%>
  </tbody>
  <tfoot></tfoot>
</table>