<h1><%= @member.name %></h1>
<% @member.attributes.keys.each do | key | %>
<div class="property">
  <span class="label"><%= key %></span>
  <span class="value"><%= @member[key] %></span>
</div>
<% end %>