/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{

}

h1{
    float: left;
    width:100%
}

ul{
    display: block;

    height: 30px;
    background-color: silver;


}

ul li{
    text-decoration: none;
    text-align: left;
    width: 200px;
    float: left;
    list-style: none;
    padding-top: 5px;

}
a{
    text-decoration: none;
}

footer{
    height:30px;
}