// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label {
  float: left;
  width: 100px;
  font-weight: bold;
}
.value {
  position: relative;
  float: right;
  width:500px;
}
.property {
  min-height: 20px;
}